main .faq-section {
  height: 1232px;
  background: linear-gradient(0deg, #1e2122 0%, #060606 100%);
  display: grid;
  grid-template-rows: 370px 1fr;
  padding: 0 80px;
}
main .faq-section .navbar {
  margin-top: 80px;
  align-items: start;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main .faq-section .navbar button {
  line-height: 124%;
  letter-spacing: -0.2px;
  font-size: 20px;
  border: 10px solid #1e2122;
  border-radius: 24px;
  background: #1e2122;
  color: #b2f817;
  width: 22%;
  margin-top: 20px;
}
main .faq-section .navbar .info {
  color: #f1f1f1;
  font-size: 40px;
  font-family: Genos;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  letter-spacing: -0.4px;
  font-size: 40px;
  margin-top: 23px;
}
main .faq-section .navbar .info1 {
  color: #e7e7e7;
  font-size: 20px;
  font-family: Genos;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
  margin-top: -25px;
}
main .faq-section .box {
  margin: 0px 50px 25px 50px;
}
main .faq-section .box .content {
  padding: 40px 40px;
  border-radius: 36px;
  background: linear-gradient(180deg, #1e2122 0%, #060606 100%);
  height: 778px;
  display: grid;
  grid-template-rows: 180px 180px repeat(4, 100px);
}
main .faq-section .box .content .info:nth-child(1) {
  border-bottom: 2px solid #f1f1f1;
}
main .faq-section .box .content .info:nth-child(1) .label h5 {
  color: #f1f1f1;
  font-family: Genos;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  letter-spacing: -0.32px;
  margin: 0;
  margin-top: 40px;
}
main .faq-section .box .content .info:nth-child(1) .text p {
  color: #e7e7e7;
  font-family: Genos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
  margin: 0px;
}
main .faq-section .box .content .info:nth-child(2) {
  border-bottom: 2px solid #f1f1f1;
}
main .faq-section .box .content .info:nth-child(2) .label h5 {
  color: #f1f1f1;
  font-family: Genos;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30%;
  letter-spacing: -0.32px;
  margin: 0;
  margin-top: 40px;
}
main .faq-section .box .content .info:nth-child(2) .text p {
  color: #e7e7e7;
  font-family: Genos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
}
main .faq-section .box .content .info:nth-child(3) {
  border-bottom: 2px solid #f1f1f1;
}
main .faq-section .box .content .info:nth-child(3) .label h5 {
  color: #f1f1f1;
  font-family: Genos;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30%;
  letter-spacing: -0.32px;
  margin-top: 20px;
}
main .faq-section .box .content .info:nth-child(4) {
  border-bottom: 2px solid #f1f1f1;
}
main .faq-section .box .content .info:nth-child(4) .label h5 {
  color: #f1f1f1;
  font-family: Genos;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30%;
  letter-spacing: -0.32px;
  margin-top: 20px;
}
main .faq-section .box .content .info:nth-child(5) {
  border-bottom: 2px solid #f1f1f1;
}
main .faq-section .box .content .info:nth-child(5) .label h5 {
  color: #f1f1f1;
  font-family: Genos;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  letter-spacing: -0.32px;
  margin-top: 20px;
}
main .faq-section .box .content .info:nth-child(6) {
  border-bottom: 2px solid #f1f1f1;
}
main .faq-section .box .content .info:nth-child(6) .label h5 {
  color: #f1f1f1;
  font-family: Genos;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  letter-spacing: -0.32px;
  margin-top: 20px;
}
