main .trade-section {
  height: 1232px;
  background: linear-gradient(180deg, #060606 0%, #1e2122 100%);
  display: grid;
  grid-template-rows: 450px 1fr;
  padding: 0 80px;
}
main .trade-section .navbar {
  margin-top: 80px;
  align-items: start;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
main .trade-section .navbar button {
  line-height: 124%;
  letter-spacing: -0.2px;
  font-size: 20px;
  border: 10px solid #1e2122;
  border-radius: 24px;
  background: #1e2122;
  color: #b2f817;
  width: 13%;
}
main .trade-section .navbar .content {
  display: flex;
  gap: 48px;
}
main .trade-section .navbar .content .info1 {
  color: #f1f1f1;
  font-size: 40px;
  font-family: Genos;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  letter-spacing: -0.4px;
}
main .trade-section .navbar .content .info2 {
  color: #e7e7e7;
  font-size: 20px;
  font-family: Genos;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
}

main .trade-section .t-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 460px;
  gap: 40px;
}
main .trade-section .t-products .t-product:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 24px;
  background: linear-gradient(219deg, #1e2122 0%, #060606 100%);
  display: flex;
  flex-direction: column;
  padding: 0 25px 20px 25px;
  justify-content: end;
}
main .trade-section .t-products .t-product:nth-child(1) .label {
  color: #f1f1f1;
  text-align: center;
  font-family: Genos;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}
main .trade-section .t-products .t-product:nth-child(1) .info {
  color: #e7e7e7;
  text-align: center;
  font-family: Genos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
}
main .trade-section .t-products .t-product:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
  border-radius: 24px;
  background: linear-gradient(219deg, #1e2122 0%, #060606 100%);
  display: flex;
  flex-direction: column;
  padding: 0 25px 20px 25px;
  justify-content: end;
}
main .trade-section .t-products .t-product:nth-child(2) .label {
  color: #f1f1f1;
  text-align: center;
  font-family: Genos;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}
main .trade-section .t-products .t-product:nth-child(2) .info {
  color: #e7e7e7;
  text-align: center;
  font-family: Genos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
}
main .trade-section .t-products .t-product:nth-child(3) {
  grid-row: 1/2;
  grid-column: 3/4;
  border-radius: 24px;
  background: linear-gradient(219deg, #1e2122 0%, #060606 100%);
  display: flex;
  flex-direction: column;
  padding: 0 25px 20px 25px;
  justify-content: end;
}
main .trade-section .t-products .t-product:nth-child(3) .label {
  color: #f1f1f1;
  text-align: center;
  font-family: Genos;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}
main .trade-section .t-products .t-product:nth-child(3) .info {
  color: #e7e7e7;
  text-align: center;
  font-family: Genos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
}
main .trade-section .t-products .t-product:nth-child(4) {
  grid-row: 1/2;
  grid-column: 4/5;
  border-radius: 24px;
  background: linear-gradient(219deg, #1e2122 0%, #060606 100%);
  display: flex;
  flex-direction: column;
  padding: 0 25px 20px 25px;
  justify-content: end;
}
main .trade-section .t-products .t-product:nth-child(4) .label {
  color: #f1f1f1;
  text-align: center;
  font-family: Genos;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}
main .trade-section .t-products .t-product:nth-child(4) .info {
  color: #e7e7e7;
  text-align: center;
  font-family: Genos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: -0.2px;
}
